</div>
<footer class="footer">
	<div class="block_inner">
		<div class="logo">
			<a href="">
				<img src="files/logo.svg" alt="">
			</a>
		</div>
		<div class="menu_header">
			<ul>
				<li><a href="#video_block" class="anchor_link">Проект</a></li>
				<li><a href="#" class="form_btn_link">Оставить заявку</a></li>
				<li><a href="files/pre.pdf" download target="_blank">Скачать презентацию</a></li>
			</ul>
		</div>
		<div class="form_btn_link">Оставить заявку</div>
		<div class="phone">
			<a href="tel:+74952801442">+7 495 280 14 42</a>
		</div>
	</div>
</footer>
</div>
<div class="form-popup-wrapper form_modal">
	<div class="formExtraWrapper">
		<div class="close-form"></div>
		<div class="form-b">
			<form action="">
				<div class="title">Свяжитесь с нами</div>
				<div class="field required">
					<input type="text" placeholder="Ваше имя" required>
				</div>
				<div class="field required">
					<input type="text" class="phone_input" placeholder="Ваш телефон" required>
				</div>
				<div class="button_form">
					<button class="btn form_button">Оставить заявку</button>
				</div>
				<div class="text">Отправляя данную форму, вы соглашаетесь на обработку персональных данных</div>
			</form>	
			<div class="thank_block">Ваша заявка отправлена</div>
		</div>
	</div>
</div>						
<script src="js/inputmask.js"></script>
<script src="js/main.js"></script>
</body>
</html>