<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
	<div class="site_wrapper">
		<header class="header">
			<div class="block_inner">
				<div class="logo">
					<a href="">
						<img src="files/logo.svg" alt="">
					</a>
				</div>
				<div class="menu_header">
					<ul>
						<li><a href="#video_block">Проект</a></li>
						<li><a href="#" class="form_btn_link">Оставить заявку</a></li>
						<li><a href="files/pre.pdf" download target="_blank">Скачать презентацию</a></li>
					</ul>
				</div>
				<div class="form_btn_link">Оставить заявку</div>
				<div class="phone">
					<a href="tel:+74952801442">+7 495 280 14 42</a>
				</div>
			</div>
		</header>
		<div class="top_image_wr">
			<div class="title">КВАДРАТ ШМАТОВО</div>
			<img src="files/image-header.jpg" alt="">
		</div>
		<div class="content_block_wr">