include _header.jade
	
	<div class="text_block_wr">
		<div class="block_inner">
			<div class="text">Современное многофункциональное <br>здание с адаптивным пространством и <br>оснащенное всеми необходимыми коммуникациями.  </div>
			<div class="note">Возможно размещение промышленного производства, шоу-рума офиса или склада.</div>
		</div>
	</div>
	<div class="video_block_wr">
		<video width="100%" controls>
			<source src="files/video.mp4" type="video/mp4">
		</video>
	</div>		
	<div class="projects_block_wr">
		<div class="block_inner">
			<div class="item">
				<div class="image">
					<img src="files/pro1.svg" alt="">
				</div>
				<div class="text">Участок <span>10 121</span> м<sup>2</sup></div>
			</div>
			<div class="item">
				<div class="image">
					<img src="files/pro2.svg" alt="">
				</div>
				<div class="text"><span>6</span> т/м<sup>2</sup> нагрузка на пол</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="files/pro3.svg" alt="">
				</div>
				<div class="text">Здание <span>10008</span> м<sup>2</sup></div>
			</div>
			<div class="item">
				<div class="image">
					<img src="files/pro4.svg" alt="">
				</div>
				<div class="text"><span>5</span> м высота потолков</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="files/pro5.svg" alt="">
				</div>
				<div class="text">Бокс от <span>216</span> м<sup>2</sup></div>
			</div>
			<div class="item">
				<div class="image">
					<img src="files/pro6.svg" alt="">
				</div>
				<div class="text">Все коммуникации</div>
			</div>
		</div>
	</div>
	<div class="text_note_wr">
		<div class="block_inner">
			<div class="item_first">
				<div class="body">
					<div class="title">Быстро разместить производство и сразу начать производственную деятельность теперь возможно в готовом промышленном комплексе КВАДРАТ Шматово. </div>
					<div class="note">
						<p>Здесь всё предусмотрено и тщательно продумано для бизнеса инвестора. Помещение меняет планировку и конфигурацию, подстраиваясь под особенности производственной линии. </p>
						<p class="note_inner">Второй этаж, по желанию, может быть объединен с первым этажом в единый производственный блок, колонны предусматривают возможность установки кран-балки.</p>
					</div>
				</div>
				<div class="image">
					<img src="files/img1.jpg" alt="">
					<p class="note_inner">Второй этаж, по желанию, может быть объединен с первым этажом в единый производственный блок, колонны предусматривают возможность установки кран-балки.</p>
				</div>
			</div>
			<div class="item_second">
				<div class="image">
					<img src="files/img2.jpg" alt="">
				</div>
				<div class="body">
					<div class="title">Есть возможность разделения на блоки и объединения этих блоков в единое пространство. </div>
					<div class="note">
						<p>Расположение на территории ОЭЗ Ступино КВАДРАТ позволяет бизнесу пользоваться налоговыми льготами и таможенными преференциями. Близость к трассе М-4 ДОН дает оперативный доступ к колоссальному рынку сбыта. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="work_block_wr">
		<div class="block_inner">
			<div class="title">Четыре уровня под разные виды работ</div>
			<div class="inner">
				<img src="files/image.png" alt="">
			</div>
		</div>
	</div>
	<div class="level_block_wr">
		<div class="block_inner">
			<div class="name">Уровни</div>
			<div class="right">
				<div class="item">
					<div class="number">1</div>
					<div class="text">Подходит под:</div>
				</div>
				<div class="item">
					<div class="number">2</div>
					<div class="text">Промышленное производство Склад</div>
				</div>
				<div class="item">
					<div class="number">3</div>
					<div class="text">Подходит под:</div>
				</div>
				<div class="item">
					<div class="number">4</div>
					<div class="text">Индивидуальные офисные пространства Open space</div>
				</div>
			</div>
		</div>
	</div>
	<div class="presintation_block_wr">
		<div class="block_inner">
			<div class="image">
				<img src="files/presin.jpg" alt="">
			</div>
			<a href="" class="btn" download target="_blank"><i></i><span>Скачать презентацию</span></a>
		</div>
	</div>
include _footer.jade